.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid lightgray;
  height: 60px;
  padding: 0 20px;
  background: white;
}

.auth-buttons {
  list-style: none;
  display: flex;
}

.site-nav li {
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
}

.site-nav img {
  max-height: 30px;
  width: auto;
}
