// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, div, ul, section, article, aside, p, h1, h2, h3, h4, input, button, a, textarea, select, form, label, li, figure, img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  text-align: inherit;
  color: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  display: block;
  box-sizing: inherit;
  background: transparent;
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

html {
  font-size: 15px;
  color: #27374c;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

span {
  margin-right: 10px;
}

input, select, textarea {
  border: 1px solid #bfcad2;
  padding: 6px 8px;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 2px;
}

input:focus, select:focus, textarea:focus {
  box-shadow: 0 0 5px #41b866;
}

button {
  border: 1px solid #41b866 ;
  padding: 12px 8px;
  border-radius: 4px;
  margin-left: 10px;
  background: #41b866;
  color: white;
  text-align: center;
  transition: all 0.25s ease;
}

button:hover {
  cursor: pointer;
  background: darken(#41b866 , 7%);
}

.minor-button {
  background: white;
  color: #41b866;
  border: 1px solid #41b866;
  white-space: nowrap;
}

.minor-button:hover {
  background: lighten(#41b866, 20%);
  color: white;
}

.minor-button--disabled, .minor-button--disabled:hover {
  background: gray;
  color: white;
  border: 1px solid lightgray;
}

.major-button {
  width: 25%;
  min-width: 150px;
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
}

.submit-input {
  padding: 12px 8px;
  background: #41b866;
  color: white;
  text-align: center;
}

.submit-input:hover {
  cursor: pointer;
  background: darken(#41b866 , 7%);
}

.errors {
  list-style: none;
  color: red;
  background-color: rgba(198,61,67,0.25);
  color: #3e1214;
  padding: 10px 10px;
}

.container {
  background: #f1efea;
  padding: 10px 0;
  height: 100%;
  padding-top: 73px;
  min-height: calc(100vh - 82px);
}

.container-basket {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  height: 100%;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}

.no-left-margin {
  margin-left: 0px;
}
