// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, div, ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

* {
  font-size: 15px;
}

button {
  border: 1px solid #aeb5ba;
  padding: 12px 8px;
  border-radius: 4px;
  margin-left: 10px;
  background: green;
  color: white;
}

.submit-input {
  background: green;
  color: white;
}

button:hover {
  cursor: pointer;
  background: darkgreen;
}

.submit-input:hover {
  cursor: pointer;
  background: darkgreen;

}

.errors {
  list-style: none;
  color: red;
  background-color: rgba(198,61,67,0.25);
  color: #3e1214;
  padding: 10px 10px;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}
