// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, div, ul, section, article, aside, p, h1, h2, h3, h4, input, button, a, textarea, select, form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  text-align: inherit;
  color: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  display: block;
  box-sizing: inherit;
  background: transparent;
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

html {
  font-size: 15px;
  color: #27374c;
}

a {
  cursor: pointer;
}

button {
  border: 1px solid #41b866 ;
  padding: 12px 8px;
  border-radius: 4px;
  margin-left: 10px;
  background: #41b866 ;
  color: white;
}

.submit-input {
  padding: 12px 8px;
  background: #41b866;
  color: white;
  text-align: center;
}

input, select, textarea {
  border: 1px solid #bfcad2 ;
  padding: 6px 8px;
  border-radius: 4px;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
  background: darken(#41b866 , 7%);
}

.submit-input:hover {
  cursor: pointer;
  background: darken(#41b866 , 7%);
}

.errors {
  list-style: none;
  color: red;
  background-color: rgba(198,61,67,0.25);
  color: #3e1214;
  padding: 10px 10px;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}
