@font-face {
    font-family: 'icomoon';
    src:    font-url('icomoon.eot?a3mqsc');
    src:    font-url('icomoon.eot?a3mqsc#iefix') format('embedded-opentype'),
        font-url('icomoon.ttf?a3mqsc') format('truetype'),
        font-url('icomoon.woff?a3mqsc') format('woff'),
        font-url('icomoon.svg?a3mqsc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil2:before {
    content: "\e906";
}
.icon-office:before {
    content: "\e903";
}
.icon-stopwatch:before {
    content: "\e952";
}
.icon-leaf:before {
    content: "\e9a4";
}
.icon-thermometer-half:before {
    content: "\e900";
}
.icon-balance-scale:before {
    content: "\e901";
}
