// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal {
 display: block;
}

.modal h1 {
  color: #929ead;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: normal;
}


.modal form {
  display: flex;
  flex-direction: column;
  justify-content: middle;
  margin: 20px;
}

.modal header {
  background-color: #ecf0f1;
  border: none;
  padding: 20px 20px;
  color: #929ead;
}

.modal input {
  border-radius: 4px;
  padding: 12px 8px;
  border: 1px solid #aeb5ba;
  display: block;
  margin-bottom: 20px;
}

.modal-screen {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 999;
 background: #000;
 opacity: 0.9;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-content {
 text-align: center;
 background: white;

 // bring the modal above the page content
 z-index: 1000;

 // Center the modal
 position: absolute;
 left: 50%;
 top: 40%;
 transform: translate(-50%, -50%);
 width: 60%;
 min-width: 300px;
 max-width: 450px;
}

.modal-close {
  top: 10px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  vertical-align: 50%;
}

.fade {
  opacity: .7;
  transition: opacity .40s ease-in-out;
  -moz-transition: opacity .40s ease-in-out;
  -webkit-transition: opacity .40s ease-in-out;
}

.fade:hover {
 opacity: 1;
}
