// Place all the styles related to the Ownerships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ownership-button {
  margin-top: 10px;
  margin-left: 0;
}

.owned-tea-item > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.sub-index {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
