// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-index-item {
  padding: 10px 20px;
}

.rating-container {
  margin: 10px;
  width: 105px;
  height: auto;
  background: url('https://raw.githubusercontent.com/fuchssarahe/Camellia/master/app/assets/images/rating_images/camellia_rating-empty.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.rated {
  padding: 10px;
  width: 100%;
  height: 19px;
  background: url('https://raw.githubusercontent.com/fuchssarahe/Camellia/master/app/assets/images/rating_images/camellia_rating-5.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.rated--by-current-user {
  background: url('https://raw.githubusercontent.com/fuchssarahe/Camellia/master/app/assets/images/rating_images/rating-5.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.unrated {
  padding: 10px;
}

.height-giver {
  padding: 10px;
  height: 19px;
}

.rating-selection-fields {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  position: absolute;
}

.rating-selection-fields > li {
  width: 23px;
  height: 21px;
}

.rating-selector {
  width: 100px;
  height: 20px;
  position: absolute;
}

.rating-1 {
  width: 18%;
}

.rating-2 {
  width: 39%;
}

.rating-3 {
  width: 59%;
}

.rating-4 {
  width: 79%;
}

.rating-5 {
  width: 99%;
}

.profile-button {
  margin-top: 12px;
}
