// Place all the styles related to the SearchSuggestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tea-search {

}

.search-bar {

}

.search-suggestions {
  display: flex;
  flex-direction: column;
}

.search-suggestions > li {
  padding: 0;
  margin: 0;
}

.search-suggestions > li:hover {

}
