// Place all the styles related to the SearchSuggestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-container {
  position: relative;
}

.tea-search {
  border: 1px solid #aeb5ba;
  border-radius: 50px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: bottom;
  margin: 0;
  padding: 0;
  padding-left: 4px;
}

.search-bar, .tea-search_field-selector, .tea-search_submit {
  border: 0;
  margin-bottom: 0;
  padding: 8px 0 8px 8px;
  background-color: transparent;
}

.search-bar:focus {
  box-shadow: none;
}

.tea-search--in-focus {
  box-shadow: 0 0 5px #41b866;
}

.tea-search_submit {
  color: #bfcad2;
}

.tea-search_submit:hover {
  border: 0;
  background-color: transparent;
}

.tea-search > span {
  padding-top: 10px;
}

.search-suggestions {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: absolute;
  left: 20%;
  width: 67%;
  display: none;
  border-top: 1px solid #BFCAD2;
}

.search-suggestion {
  border: 1px solid #BFCAD2;
  border-top: 0;
  width: 100%;
  padding: 12px 4px;
  background: white;
  margin: 0;
}

.search-suggestions > .search-suggestion:hover {
  background: darken(#f9f9f9, 10%);
}

.search-suggestions:hover {
  display: block;
}

.search-bar:focus + .search-suggestions {
  display: block;
}

.search-suggestion_subheading {
  font-size: 12px;
  font-style: italic;
}
