// Place all the styles related to the tea controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  box-sizing: border-box;
  float: left;
}

.panel_left {
  width: 34%;
  min-width: 200px;
  padding-left: 10px;
}

.panel_right {
  width: 34%;
  min-width: 200px;
  padding-right: 10px;
}

.panel_main {
  width: 66%;
  min-width: 400px;
  padding: 0 10px;
}

.panel_section {
  background: white;
  border-bottom: 2px solid #bfcad2;
  margin-bottom: 10px;
}

.panel_section-header {
  padding: 20px;
  border-bottom: 1px solid #bfcad2;
  font-size: 20px;
  font-weight: 400;
}

.panel_section-content {
  list-style: none;
  padding: 20px;
  display: flex;
  align-items: center;
}

.panel_section-content--flex-col {
  flex-direction: column;
}

.panel_section-content li {
  list-style: none;
  padding-bottom: 8px;
  padding-right: 8px;
}

.panel_main-header {
  padding: 20px;
  font-size: 40px;
  font-weight: 700;
}

.panel_main-header--white {
  background: white;
}

.panel_main-subheading {
  font-size: 24px;
  font-weight: 400;
}

.col {
  float: left;
  box-sizing: border-box;
}

.col-1-2 {
  width: 50%;
}

.panel_main-divider {
  background: #f9f9f9;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.panel_section a:hover {
  background: darken(#f9f9f9, 10%);
  transition: all 0.5s ease;
}

.panel_section > a:hover .panel_main-subheading {
  text-decoration: underline;
  transition: all 0.5s ease;
}

.green {
  color: #41b866;
}

.red {
  color: #DE3D3D;
}

.black {
  color: black;
}

.white {
  color: antiquewhite;
}

.yellow {
  color: yellow;
}

.oolong {
  color: #35613D;
}

.herbal {
  color: #C98420;
}

.dark {
  color: darkgray;
}

.index-item_image {
  margin: auto;
  max-width: 100%;
  max-height: 150px;
}

.index-item_image--empty {
  min-height: 100px;
  background-image: url('http://res.cloudinary.com/fuchssarahe/image/upload/v1467519823/Screen_Shot_2016-07-02_at_9.10.39_PM_ozihtp.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}


.profile_image--empty {
  height: 200px;
}

.profile_image {
  padding: 20px;
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
}

.hidden-on-desktop {
  display: none;
}

@media screen and (max-width: 652px) {
  .panel_left, .panel_right, .panel_main {
    width: 100%;
    padding: 0 10px;
  }

  .panel_main-divider {
    margin-bottom: 0px;
  }

  .hidden-on-desktop {
    display: block;
  }

  .hidden-on-mobile {
    display: none;
  }
}
