.tea_form {
  display: flex;
  flex-direction: column;
  justify-content: middle;
  margin: 20px;
}

.tea_form input, textarea, select {
    width: 100%;
}

.tea_form select {
  appearance: none;
  text-overflow: '';
  text-indent: 0.01px;
  overflow: hidden;
  background: url('https://raw.githubusercontent.com/fuchssarahe/Camellia/master/app/assets/images/select-arrows.png') no-repeat right;
}

.standalone-tea-form {
  background: white;
  width: 80%;
  margin: auto;
  max-width: 900px;
}

.standalone-tea-form h1, h2 {
  padding: 20px 20px 0 20px;
}

.standalone-tea-form h1 {
  font-size: 32px;
}

.standalone-tea-form h2 {
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 10px;
  border-bottom: 1px solid #bfcad2;
}

@media (max-width: 41em) {
  .standalone-tea-form {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max--device-width: 41em) {
  .standalone-tea-form {
    width: 100%;
    margin: 0 auto;
  }
}
