.tea_form {
  display: flex;
  flex-direction: column;
  justify-content: middle;
  // padding: 10px;
  margin: 20px;
}

.tea_form input, textarea, select {
    width: 100%;
}

.tea_form select {
  appearance: none;
  text-overflow: '';
  text-indent: 0.01px;
  overflow: hidden;
  background: url(select-arrows.png) no-repeat right;
}
