<!DOCTYPE html>
<html>
<head>
  <title>Camellia</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css' />
  <link rel='icon' href='http://res.cloudinary.com/fuchssarahe/image/upload/v1467519823/Screen_Shot_2016-07-02_at_9.10.39_PM_ozihtp.png' type='image/png'/ >
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
